<!--category.html-->
{% extends "main.html" %}
{% load static %}
{% block title %}

  <title>{{ category_name }}</title>


{% endblock title %}

{% block body %}
<style>
.custom-div {
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: #0766AD;
}

.custom-text {
  color: #ffffff;
  font-size: 40px;
}


</style>



<div class="custom-div">
  <h1 class="custom-text">
      
           {{ category_name }}
    
      
  </h1>
</div>








{% if products %}

  <div class="container" >
    {% for subcategory, products in products.items %}
    <div id="{{ subcategory.Subcategory_id }}" class="category-section">
      <h1 style="padding-top: 20px; font-size: 30px; margin-right: 20px;">
        
         {{ subcategory }} {{subcategory.Subcategory_id}}
      </h1>
      <!-- Other category content goes here -->
    </div>
      {% for product in products %}
      <div class="card-1 card-div">
        <div class="gow-img-div img-div" style="position: relative;">
          <span style="position: absolute; top: -10px; right: 80%; color: white; padding: 2px 5px;">
            <img src="{% static 'images/download.png' %}" style="height: 30px; width: 60px;" alt="">
          </span>
          <img src="{{ product.product_image_set.first.Image.url }}" alt="{{ product.Product_name }} Image">
    
      </div>
        <div class="text-container">
          <a href="" style="text-decoration: none;"><h2 class="item-name">{{ product.Product_name }}</h2></a>
          <p class="date">{{ product.Category.Name }}</p>
          <div class="pricing-and-cart">
            <div class="pricing">
              <p class="previous-price"> {{ product.discounted_price }}</p>
              <p class="current-price">{{ product.price }}LE</p>
            </div>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}

    </div>
    {% else %}
    <h1 style="text-align: center; margin: 100px;">لا يوجد منتجات</h1>
  {% endif %}



  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      console.log('JavaScript is running!');
  
      // Smooth scroll to subcategory sections
      document.querySelectorAll('.subcategory-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
          event.preventDefault();
  
          var subcategoryId = this.getAttribute('data-subcategory-id');
          console.log('Subcategory ID:', subcategoryId);
  
          var targetSection = document.getElementById(subcategoryId);
          console.log('Target Section:', targetSection);
  
          if (targetSection) {
            targetSection.scrollIntoView({ behavior: 'smooth' });
          }
        });
      });
    });
  </script>
  
  

{% endblock body %}